<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />

    <title>Login</title>

    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>

  <body>
    <style>
      @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
      @import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

      .default-text {
        color: #2bbb56;
      }
    </style>
    <main>
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-6 mb-4 m-auto">
            <div class="card">
              <div class="card-body">
                <h3 class="text-center default-text py-3">
                  <i class="fa fa-lock"></i> Login
                </h3>
                <form action="/login" method="post">
                  <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input
                      name="txtUsuario"
                      type="text"
                      id="defaultForm-email"
                      class="form-control"
                      autocomplete="off"
                    />
                    <label for="defaultForm-email">Ingresar Usuario</label>
                  </div>
                  <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input
                      name="txtClave"
                      type="password"
                      id="defaultForm-pass"
                      class="form-control"
                      autocomplete="off"
                    />
                    <label for="defaultForm-pass">Ingresar Clave</label>
                  </div>
                  <div class="text-center">
                    <button
                      type="submit"
                      class="btn btn-default waves-effect waves-light"
                    >
                      Ingresar
                    </button>
                  </div>
                  <div class="text-center">
                    <div
                      th:text="${mensaje}"
                      th:class="${cssmensaje}"
                      role="alert"
                    ></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"
    ></script>
  </body>
</html>
